.u-section-1 .u-sheet-1 {
  min-height: 4011px;
}

.u-section-1 .u-image-1 {
  width: 326px;
  height: 368px;
  margin: 7px -38px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 350px;
  height: 252px;
  margin: -368px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -239px 295px 0 337px;
}

.u-section-1 .u-text-2 {
  font-size: 1.75rem;
  margin: 101px 1012px 0 0;
}

.u-section-1 .u-form-1 {
  height: 3670px;
  margin: 178px -6px 0 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  font-size: 1.75rem;
}

.u-section-1 .u-form-group-22 {
  margin-left: 0;
}

.u-section-1 .u-form-group-23 {
  margin-left: 0;
}

.u-section-1 .u-form-group-24 {
  margin-left: 0;
}

.u-section-1 .u-form-group-25 {
  margin-left: 0;
}

.u-section-1 .u-form-group-26 {
  margin-left: 0;
}

.u-section-1 .u-form-group-27 {
  margin-left: 0;
}

.u-section-1 .u-form-group-28 {
  margin-left: 0;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
  font-size: 1.75rem;
}

.u-section-1 .u-form-group-30 {
  margin-left: 0;
}

.u-section-1 .u-form-group-31 {
  margin-left: 0;
}

.u-section-1 .u-form-group-32 {
  margin-left: 0;
}

.u-section-1 .u-form-group-33 {
  margin-left: 0;
}

.u-section-1 .u-form-group-34 {
  margin-left: 0;
}

.u-section-1 .u-form-group-35 {
  margin-left: 0;
}

.u-section-1 .u-form-group-37 {
  margin-left: 0;
}

.u-section-1 .u-form-group-38 {
  margin-left: 0;
}

.u-section-1 .u-form-group-39 {
  margin-left: 0;
}

.u-section-1 .u-form-group-40 {
  margin-left: 0;
}

.u-section-1 .u-form-group-41 {
  margin-left: 0;
}

.u-section-1 .u-form-group-42 {
  margin-left: 0;
}

.u-section-1 .u-form-group-43 {
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  margin-left: 0;
  font-size: 1.75rem;
}

.u-section-1 .u-form-group-45 {
  margin-left: 0;
}

.u-section-1 .u-form-group-46 {
  margin-left: 0;
}

.u-section-1 .u-form-group-47 {
  margin-left: 0;
}

.u-section-1 .u-form-group-48 {
  margin-left: 0;
}

.u-section-1 .u-form-group-49 {
  margin-left: 0;
}

.u-section-1 .u-text-11 {
  margin-left: 0;
  font-size: 1.75rem;
}

.u-section-1 .u-form-group-51 {
  margin-left: 0;
}

.u-section-1 .u-text-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-53 {
  margin-left: 0;
}

.u-section-1 .u-text-13 {
  margin-left: 0;
}

.u-section-1 .u-text-14 {
  margin-left: 0;
}

.u-section-1 .u-text-15 {
  margin-left: 0;
  font-size: 1.375rem;
}

.u-section-1 .u-text-16 {
  margin-left: 0;
  font-size: 1.75rem;
}

.u-section-1 .u-text-17 {
  margin-left: 0;
}

.u-section-1 .u-form-group-59 {
  margin-left: 0;
}

.u-section-1 .u-text-18 {
  margin-left: 0;
}

.u-section-1 .u-form-group-61 {
  margin-left: 0;
}

.u-section-1 .u-form-group-62 {
  margin-left: 0;
}

.u-section-1 .u-text-19 {
  margin-left: 0;
}

.u-section-1 .u-form-group-64 {
  margin-left: 0;
}

.u-section-1 .u-text-20 {
  margin-left: 0;
  font-size: 1.625rem;
}

.u-section-1 .u-form-group-67 {
  margin-left: 0;
}

.u-section-1 .u-form-group-68 {
  margin-left: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    width: 223px;
    height: 252px;
    margin-right: -33px;
  }

  .u-section-1 .u-image-2 {
    width: 297px;
    height: 214px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 205px;
    margin-left: 247px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 832px;
  }

  .u-section-1 .u-form-1 {
    width: 1140px;
    height: 3698px;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 147px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 632px;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
    height: 3789px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 201px;
    height: 228px;
    margin-right: 250px;
  }

  .u-section-1 .u-image-2 {
    width: 223px;
    height: 160px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 87px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 437px;
    margin-left: -25px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
    height: 3953px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 227px;
    margin-right: -25px;
  }

  .u-section-1 .u-image-2 {
    margin-left: -32px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 390px;
    margin-right: 390px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 270px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    height: 3832px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4004px;
  }

  .u-section-1 .u-image-1 {
    width: 143px;
    height: 161px;
    margin-right: -35px;
  }

  .u-section-1 .u-image-2 {
    width: 145px;
    height: 159px;
    margin-left: -34px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -232px;
    margin-left: 476px;
    margin-right: 476px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 43px;
    margin-left: -14px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    height: 5796px;
    margin-left: -14px;
  }
}